body{
    background-color: #2a5d5a;
}
h1{
    color: aliceblue;
    text-align: center;
     background-color: black;
     font-size: 40px;
     margin: 30px 490px;
     padding: 11px;
}
.qora{
    background-color: black;
    border: 10px solid rgb(219, 1, 1);
    padding: 50px;
    margin: 70px 220px;
}
p{
    background: #1FE8B7;
    font-size: 20px;
    font-weight: 700;
    padding: 54px 40px;
}